.container {
  padding: 40px;
  border: 1px solid black;
  border-radius: 8px;
}

.tableContainer {
  padding: 2rem;
}

.header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  text-transform: uppercase;
  background-color: var(--color-surface-light);
  color: var(--color-gray-700);
  border: 1px solid var(--color-surface-strong);
  padding: 1rem;
  border-radius: var(--radius-sm);
}

.table {
  width: 100%;
  border-collapse: collapse; /* No double borders */
  border-spacing: 0; /* No gaps */
  background-color: white;
  table-layout: fixed;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
}

.table td {
  border-bottom: 1px solid var(--color-surface-strong);
}

.tableContainer {
  background-color: white;
}
